# Temporary Files
temporaryFiles/

# Node build artifacts
node_modules/
**/*node_modules/

# May be symlink
node_modules
/node_modules/
.node_modules
.\node_modules
./node_modules
node_modules
node_modules/

# Logs
*.log
log.txt

# aws
*aws_config.j2
*aws_credentials.j2
.elasticbeanstalk
/.ebextensions/*
.elasticbeanstalk/*
!.elasticbeanstalk/config.yml.example
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Local development
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln

# Env
.env

# packages
package-lock.json
*.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock\.json
yarn\.lock

# Git GUI
.project

# Ansible
*.retry

#Temp
*.tmp
*.tmp.*
/temp
/tmp
*.nfs*

# Other
*~
*.ap_
*.apk
bin/
bower_components/
.buildpath
*.class
composer.json
composer.lock
coverage/
*.dex
.DS_Store
gen/
.gradle/
local.properties
platforms/
platforms/android/ant-build/
platforms/android/CordovaLib/ant-build
plugins/
proguard/
$RECYCLE.BIN/
.sass-cache/
.settings/
Thumbs.db
UserInterfaceState.xcuserstate
vendor/
.versions/
.nyc_output/

# packages

package-lock.json
yarn.lock